/*================ Accueil Menu =============*/

nav{
    background-color: rgba(255,255,255,0.8);
}

body{
    color: #5a5a5a;
}

h1{
    font-size: 50px;
}

/*================ Section Logo =============*/
section.section-logo{
    background: url("../image-interface/background.svg") no-repeat;
    background-size: cover;
    padding: 50px;
}

section.section-logo > p.image-logo{
    display: block;
    text-indent: -999999px;
    height: 180px;
    width: 500px;
    background: url('../image-interface/logo.svg') no-repeat;
    background-size: auto;
}

section > div > h1{
    position: relative;
}

section > div > h1:after{
    background-color: #626a71;
    height: 2px;
    width: 15%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
}

section:nth-of-type(2) > div > h1:after{
    background-color: white;
    width: 10%;
}
/*=============== Section Actualité ============*/

section.actualite{
    background: url("../image-interface/background-actualite.svg") no-repeat;
    background-size: cover;
    position: relative;
}

section.actualite > .titre-actualite{
    display: block;
    background-color: rgba(0,0,0,0.4);
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 15% 20px 15%;
}

/*=============== Section Agenda ===============*/

section.agenda{
    display: flex;
    background: url("../image-interface/background-agenda.svg") no-repeat;
    background-size: cover;
}

.titre-agenda .date-agenda{
    display: table-cell;
}

.titre-agenda{
    width: 50%;
}

.date-agenda{
    width: 50%;
}

.date-agenda .lieu{
    font-weight: bold;
}

.date-agenda .couleur-agenda{
    color: #dc931a;
}

.date-agenda a{
    color: #5a5a5a;
    text-decoration: none;
    border: 2px #dc931a solid;
}

/*================ Section Focus ==================*/

section.focus{
    background: url("../image-interface/background-focus.svg") no-repeat;
    background-size: cover;
}

.titre-focus, .video-focus{
    width: 50%;
    display: table-cell;
}

.titre-focus a{
    color: #5a5a5a;
    text-decoration: none;
    border: 2px #dc931a solid;
}


/*================ Section Contact ================*/

section.contact{
    background: url("../image-interface/background-contact.svg") no-repeat;
    background-size: cover;
}

.titre-contact, .reseaux{
    width: 50%;
    display: table-cell;
}



.reseaux li{
    display: inline;
    margin: 5px;
}

ul > li > a.image-contact{
    display: inline-block;
    text-indent: -999999px;
    height: 100px;
    width: 100px;
    background-size: auto;
}

#mail, .btn{
    display: inline-block;
}

.reseaux input#mail{
    background-color: white;
    border: none;
    padding: 15px;
    border-bottom: #078acc 1px solid;
    width: 200px;
}

.btn {
    color: #5a5a5a;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 45px;
    margin: 0 auto 0;
    max-width: 160px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    width: 100%;
    border: none;
    transition: all ease 400ms;
}

.btn-1 {
    background: rgb(255,255,255);
    font-weight: 100;
}

.btn-1 svg {
    height: 45px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.btn-1 rect {
    fill: none;
    stroke: #078acc;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);

}

.btn-1:hover {
    background: rgba(255, 255, 255);
    font-weight: 900;
    letter-spacing: 1px;
}

.btn-1:hover rect {
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}